<aside>
  <div>
    <a href="/kith/new">+ Add New Person</a>
  </div>
  <h3>Kith & Kin</h3>
  <ul>
    <%- persons.map(p => `<a class="nostyle" href="/kith/${p._id}">
      <div class="person">
        <li>${p.firstName} ${p.lastName}</li>
      </div></a
    >` ).join('') %>
  </ul>
</aside>
