<aside>
  <div>
    <a href="/kith/new">+ Add New Person</a>
  </div>
  <h3>Kith & Kin</h3>
  <ul>
    <% persons.forEach(function(p) { %>
    <li>
      <a href="/kith/<%= p._id %>"><%= `${p.firstName} ${p.lastName}` %></a>
    </li>
    <% }) %>
  </ul>
</aside>
