<!DOCTYPE html>
<html>
  <head>
    <title>Kith & Kin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Kith & Kin</h1>
    <h1>Event Planner</h1>
    <form action="/events" method="GET">
      <input type="submit" value="Events" />
    </form>
    <form action="/ktih" method="GET">
      <input type="submit" value="Kith & Kin" />
    </form>
  </body>
</html>
