<!DOCTYPE html>
<html>
  <head>
    <title>Kith & Kin</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css" />
  </head>
  <body>
    <h1>Kith & Kin</h1>
    <h1>Potluck Planner</h1>
    <div>
      <form action="/events" method="GET">
        <button type="submit">Events</button>
      </form>
      <form action="/kith" method="GET">
        <button type="submit">Kith & Kin</button>
      </form>
    </div>
  </body>
</html>
