body {
  display: grid;
  grid-template-rows: 100px 75px 1fr;
  grid-template-columns: 200px 1fr;
  margin: 0;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: flex;
  background-color: #1c83e2;
  justify-self: stretch;
  justify-content: center;
}

header > h1 {
  font-size: 48px;
  color: white;
  margin: auto;
}

nav {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1c83e2;
}

nav > a {
  color: white;
  font-size: 36px;
}

nav > a:hover {
  color: navy;
}

aside {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  font-size: 24px;
  min-height: calc(100vh - 200px);
}

aside > div {
  margin: 20px auto;
  text-align: center;
}

aside > h3 {
  margin: 10px auto 10px 10px;
  color: navy;
}

aside > ul {
  margin: 0;
  padding-left: 40px;
  font-size: 20px;
}

main {
  grid-row: 3 / 4;
  grid-column: 2 /3;
  display: flex;
  justify-self: stretch;
  justify-content: center;
  font-size: 36px;
  color: navy;
}

main > div {
  margin: auto;
}

form > label {
  display: block;
  font-size: 36px;
  margin: 20px 0 10px 0;
}

form > input {
  display: block;
  font-size: 32px;
}

form > fieldset {
  margin: 20px 0;
}

fieldset > label {
  font-size: 32px;
}

fieldset > input {
  transform: scale(2);
  margin-right: 30px;
}

.comment {
  height: 72px;
  width: 850px;
  font-size: 24px;
}

form > button {
  height: 72px;
  width: 144px;
  font-size: 24px;
  display: block;
  text-align: center;
  margin: 25px auto;
}

form > button:hover {
  background-color: yellow;
  color: navy;
}
