body {
  background-color: #1c83e2;
}

h1 {
  text-align: center;
  color: white;
  font-size: 72px;
}

div {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

form {
  justify-content: space-evenly;
}

button {
  height: 300px;
  width: 300px;
  font-size: 48px;
  background-color: white;
  color: navy;
  border-radius: 30px;
}

button:hover {
  background-color: yellow;
}
