<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/kith.css" />
    <title>Kith & Kin - Kith</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <%- include('../partials/kith_nav.ejs', {persons}) %>
      <section>
        <div>Please Select Person</div>
      </section>
    </main>
  </body>
</html>
