body {
  margin: 0;
  display: inline;
}

header {
  height: 100px;
  background-color: #1c83e2;
  display: flex;
  justify-items: center;
}

header > h1 {
  font-size: 48px;
  color: white;
  margin: auto;
  text-align: center;
}

nav {
  height: 75px;
  background-color: #1c83e2;
  display: flex;
  justify-content: space-evenly;
}

nav > a {
  color: white;
  font-size: 36px;
  margin: auto 0;
}

nav > a:hover {
  color: navy;
}

a {
  display: block;
  text-align: center;
  margin: 25px;
  font-size: 24px;
  color: inherit;
}

a.nostyle {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  height: 200px;
  width: 600px;
  margin: 25px auto;
}

.event-block {
  height: 200px;
  width: 600px;
  border: 5px;
  border-color: navy;
  border-style: solid;
  margin: 25px auto;
  font-size: 24px;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 100px 100px;
}

.event-block:hover {
  background-color: grey;
  color: white;
}

.event-name {
  grid-row: 1/2;
  grid-column: 1 / 2;
  margin: auto;
}

.event-date {
  grid-row: 1/2;
  grid-column: 2 / 3;
  margin: auto;
}

.event-descr {
  grid-column: 1 / 3;
  margin: auto;
}
