body {
  margin: 0;
  display: inline;
}

header {
  height: 100px;
  background-color: #1c83e2;
  display: flex;
  justify-items: center;
}

header > h1 {
  font-size: 48px;
  color: white;
  margin: auto;
  text-align: center;
}

nav {
  height: 75px;
  background-color: #1c83e2;
  display: flex;
  justify-content: space-evenly;
}

nav > a {
  color: white;
  font-size: 36px;
  margin: auto 0;
}

nav > a:hover {
  color: navy;
}

main {
  font-size: 36px;
  color: navy;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > label {
  display: block;
  font-size: 36px;
  margin: 20px 0 10px 0;
}

form > input {
  display: block;
  font-size: 32px;
}

.date {
  font-size: 24px;
}

.comment {
  height: 72px;
  width: 850px;
  font-size: 24px;
}

form > button {
  height: 72px;
  width: 144px;
  font-size: 24px;
  display: block;
  text-align: center;
  margin: 25px auto;
}

form > button:hover {
  background-color: yellow;
  color: navy;
}
